{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'general/partials/head.html' %}
{% include 'general/partials/navbar.html' %}

<body>
    <br><br><br><br><br><br><br><br>
<center>
    <div class="form-content">
    <div class="header">
    <h1>Registration Page</h1>
    </div>
    <br><br>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table border="1">
            {{ form.as_table }}
        </table>
        <br>
        <input type="submit" value="register" onclick="return confirm('Are you sure?')">
    </form>
    <div>
    </center>
    {% include 'general/partials/footer.html' %}

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'general/partials/js.html' %}

</body>

</html>